section{
    display: flex;
    margin-bottom: 20px;
    border: 2px solid gray;
    padding: 5px;
}

#section1 img:nth-of-type(1){
    align-self: flex-start;
}

#section1 img:nth-of-type(2){
    flex-grow: 1;
}

#section1 img:nth-of-type(3){
    align-self: flex-end;
}

#section2{
    flex-direction: column;
}

#section2 img:nth-of-type(1){
    align-self: flex-end;
}

#section2 img:nth-of-type(3){
    align-self: center;
}

#section3 {
    justify-content: flex-end;
    gap: 40px;
}

#section4 {
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 20px;
}

#section5 {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px 20px;
}

#section5 img:nth-of-type(3){
    flex-grow: 1;
}

#section5 img:nth-of-type(2){
    align-self: flex-start;
}

#section5 img:nth-of-type(1){
    align-self: flex-end;
}

#section6 {
    justify-content: space-between;
}

#section7 {
    flex-direction: column-reverse;
    gap: 30px;
}

#section7 img:nth-of-type(3){
    align-self: center;
}

#section7 img:nth-of-type(2){
    align-self: flex-start;
}

#section7 img:nth-of-type(1){
    align-self: flex-start;
}

#section8 {
    flex-direction: column-reverse;
    gap: 30px;
}

#section8 img:nth-of-type(3){
    align-self: center;
}

#section8 img:nth-of-type(2){
    align-self: flex-end;
}

#section9 {
    justify-content: space-evenly;
}

#section10 {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /*space-evenly*/
}